* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("/images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards {
  height: 60vh;
  width: 80%;
  display: grid;
  grid-template-columns: 5fr 4fr;
}

/* Left */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.heading {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4rem;
}

.text {
  color: #fff;
  font-size: 1.6rem;
}

/* Right */

.right {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 4rem 3rem 4rem 3rem;
  box-shadow: 0 0.8rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.seven-days {
  background-color: hsl(248, 32%, 49%);
  font-size: 1.6rem;
  color: hsl(246, 25%, 77%);
  padding: 2rem;
  border-radius: 0.9rem;
  border: none;
  box-shadow: 0 0.8rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

strong {
  color: #fff;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 1.8rem 28rem 1.8rem 3rem;
  border-radius: 0.4rem;
  border: 0.5px solid hsl(246, 25%, 77%, 0.5);
  font-size: 1.6rem;
  color: hsl(249, 10%, 26%);
  font-weight: 600;
  caret-color: hsl(248, 32%, 49%);
  outline-offset: -1px;
}

.input:active,
.input:hover {
  background-color: none;
  outline: 0.1rem solid hsl(248, 32%, 49%, 0.8);
  border-radius: 0.5rem;
}

.claim {
  max-width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: none;
  padding: 2rem 16rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8px;
  box-shadow: 0 0.3rem 0.2rem 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.claim:hover {
  opacity: 0.8;
}

.terms {
  color: hsl(246, 25%, 77%, 0.8);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

span {
  color: hsl(0, 100%, 74%, 0.8);
  font-weight: 700;
}

.email-error::placeholder {
  color: hsl(0, 100%, 74%, 0.8);
}

.error-text {
  display: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(0, 100%, 74%, 0.9);
  margin-right: -30rem;
  justify-content: right;
  font-style: italic;
}

.inputs {
  position: relative;
}

.icons {
  display: none;
  margin-left: -3rem;
}

/* Small Laptop */
@media (max-width: 64em) {
  .heading {
    font-size: 3.4rem;
  }

  .input {
    padding: 2rem 12rem 2rem 1rem;
  }

  .claim {
    padding: 2rem 7rem 2rem 7rem;
  }

  .terms {
    text-align: center;
  }

  .icons {
    right: 15%;
  }

  .error-text {
    padding-right: 16rem;
  }
}

/* 600px */
@media (max-width: 37.5em) {
  .container {
    margin-left: -1.5rem;
    align-items: start;
    justify-content: auto;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 4rem;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .input {
    padding: 2rem 24rem 2rem 2rem;
  }

  .claim {
    font-size: 1.5rem;
    padding: 2rem 11.4rem 2rem 12rem;
  }

  .form {
    margin-bottom: 8rem;
  }

  .error-text {
    padding-left: 12rem;
  }
}

/* Larger Phones 430px */

@media (max-width: 27em) {
  .container {
    margin-left: -2rem;
  }
  .icons {
    right: 18%;
  }

  .claim {
    padding: 2rem 4rem 2rem 4rem;
  }

  .input {
    padding: 2rem 11rem 2rem 3rem;
  }

  .error-text {
    padding-left: 0;
  }
}

/* Phone 375px */

@media (max-width: 24.5em) {
  body {
    background-image: url("/images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
  }

  .container {
    margin-left: 1.8rem;
    display: block;
    align-items: start;
    justify-content: auto;
  }

  .input {
    padding-left: 1rem;
    padding-right: 10rem;
  }
}
